spring:
  application:
    name: commerce-service
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:postgresql://localhost:5433/commerce_db
    username: commerce_db
    password: commerce
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: commerce-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/
    register-with-eureka: true
    fetch-registry: true

server:
  port: 19094

management:
  endpoints:
    web:
      exposure:
        include: prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true

kafka:
  topic:
    payment-create-request: payment-create-request
    delivery-create-request: delivery-create-request
    payment-cancel-request: payment-cancel-request
    delivery-delete-request: delivery-delete-request

feign:
  host:
    delivery: localhost
    payment: localhost